@use "sass:color"
@use "sass:string"

// Dark colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-background-dark: #2c2d2e !default
$color-background-alt-dark: #141516 !default

$color-border-strong-dark: #666 !default
$color-border-smooth-dark: #555 !default

$color-foreground-dark: #d2d2d2 !default

$color-danger-light-dark: color.scale($color-danger-light, $lightness: -5%) !default
$color-info-light-dark: color.scale($color-info-light, $lightness: -5%) !default
$color-primary-dark: color.scale($color-primary, $lightness: 15%) !default
$color-primary-light-dark: color.scale($color-primary-light, $lightness: -5%) !default
$color-success-light-dark: color.scale($color-success-light, $lightness: -5%) !default
$color-warning-light-dark: color.scale($color-warning-light, $lightness: -5%) !default

// CSS Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@media (prefers-color-scheme: dark)
  :root
    --color-background: #{$color-background-dark}
    --color-background-alt: #{$color-background-alt-dark}
    --color-border-strong: #{$color-border-strong-dark}
    --color-border-smooth: #{$color-border-smooth-dark}
    --color-foreground: #{$color-foreground-dark}
    --color-danger-light: #{$color-danger-light-dark}
    --color-info-light: #{$color-info-light-dark}
    --color-primary: #{$color-primary-dark}
    --color-primary-light: #{$color-primary-light-dark}
    --color-success-light: #{$color-success-light-dark}
    --color-warning-light: #{$color-warning-light-dark}

  // Specific rules
  // ––––––––––––––––––––––––––––––––––––––––––––––––––

  body
    background-color: var(--color-background)

  select
    @include select-background-svg($color-border-strong-dark)

    &:focus
      @include select-background-svg($color-primary-dark)

  .notification
    &.is-danger,
    &.is-info,
    &.is-primary,
    &.is-success,
    &.is-warning
      color: var(--color-background-alt)
