
// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix

  &:after
    clear: both
    content: ' ' // The space content is one way to avoid an Opera bug.
    display: table

// Float either direction
.float-left
  float: left

.float-right
  float: right

// Notifications
.notification
  margin-left: 0
  margin-right: 0
  padding: 1rem 1.5rem
  margin-bottom: 2.5rem
  border-left-style: solid
  border-left-width: .3rem

  &.is-danger
    border-left-color: var(--color-danger)
    background: var(--color-danger-light)

  &.is-info
    border-left-color: var(--color-info)
    background: var(--color-info-light)

  &.is-primary
    border-left-color: var(--color-primary)
    background: var(--color-primary-light)

  &.is-success
    border-left-color: var(--color-success)
    background: var(--color-success-light)

  &.is-warning
    border-left-color: var(--color-warning)
    background: var(--color-warning-light)

  *:last-child
    margin-bottom: 0

  a
    color: currentcolor
    text-decoration: underline

ul.notification
  list-style: none
